﻿@model List<Toranasp.Context.Product>

@{
    ViewBag.Title = "FilterByPrice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FilterByPrice</h2>


<!-- Hiển thị danh sách sản phẩm -->
@foreach (var product in Model)
{
    <div class="product">
        <h3>@product.Name</h3>
        <p>Price: @product.Price</p>
    </div>
}