@model  Toranasp.Models.HomeModel
@{
    ViewBag.Title = "ListProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListProduct</h2>
<br />
<br />
<br />
<br />
<br />
<br />

<div class="container">
    <h2> Tất cả sản phẩm  </h2><br />
    <div class="row">
        @foreach (var item in Model.ListProduct)
        {
            <div class=" col-md-3 ">
                <div class="course-1-item">
                    <figure class="thumnail">
                        <a href="@Url.Action("Detail","Product",new {Id=item.Id })">
                            <img src="~/Content/images/product/@item.Avatar" alt="Image" class="img-fluid">
                        </a>
                        <div class="price">@item.Price</div>
                        <div class="category"><h3>@item.Name</h3></div>
                    </figure>
                </div>
            </div>
        }
    </div>
</div>

